.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.gitignore
public/
test-admin.iml
yarn.lock
.babelrc
.eslintrc
global-groovy.log
panel.iml
soapui-errors.log
soapui.log
